
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Custom.css" rel="stylesheet" />
    <title>Blog's</title>
    <style>
        .current {
  color: green;
}


    </style>
</head>
<body>

    <div class="container">
        <br />
        <div class="row">
            <img src="~/sss.PNG" width="100%" height="30%" />
        </div>
    </div>
    <br />
    @*<div>
        <label id="lbPacketDetails">

        </label>
    </div>*@

    <div class="container">
        <div class="row">
            <div class="col-md-9">
              
                    <span id="lbPacketDetails">

                    </span>
              

         </div>

        
            <div class="col-md-3">
                <input type="text" class="s"  placeholder="Search or Type Keyword" id="txtSearch">
                <input type="submit" value="Search" onclick="GetBlogBySearchFilter()" class="search" id="btnSearch"> 
                <br /><br />
                <span id="ShowCategories">

                </span>
             
            </div>
        </div>
    </div>
  
    <script src="~/scripts/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="~/scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/scripts/BlogMaster.js?v=1.3"></script>
    <script src="~/scripts/CategoryMaster.js?v=1"></script>




  
    
    

</body>
</html>
