
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetImage</title>
</head>
<body>
    <div> 
        <span id="lblImage">

        </span>
    </div>
    <script src="~/scripts/BlogMaster.js"></script>
</body>
</html>
